<div ui-view></div>
<nav class="mui-bar mui-bar-tab">
	<a class="mui-tab-item mui-active" ng-click="goPage('/home')">
		<span class="iconfont icon-shouye" ></span>
		<span class="mui-tab-label">首页</span>
	</a>
	<a class="mui-tab-item" ng-click="goPage('/feilei')">
		<span class="iconfont icon-fenlei" ></span>
		<span class="mui-tab-label">分类</span>
	</a>
	<a class="mui-tab-item" ng-click="goPage('/news')">
		<span class="iconfont icon-xiaoxi" ></span>
		<span class="mui-tab-label">消息</span>
	</a>
	<a class="mui-tab-item" ng-click="goPage('/my')">
		<span class="iconfont icon-wode" ></span>
		<span class="mui-tab-label">我的</span>
	</a>
</nav>